body{
  font-size: 16px !important;
  font-family: 'Oswald', sans-serif !important;
}
.page-wrapper{
  -ms-flex-direction: column;
  flex-direction: column;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: var(--white);
}
.is-fullvh{
  height: 100vh;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: $white;
}
p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.02em;
  align-items: center;
  text-align: center;
}
//backgrounds
.fp-bg {
  background-size: cover;
  background-position: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.invite-section .fp-bg{
  background-image: url("../images/space_bg 1.png");
}
.about-section .fp-bg{
  background-image: url("../images/fon_s_planetoy3luna_222_2 1.png");
  background-size: 1200px;
}

.navbar-item.is-hoverable:hover .navbar-dropdown{
  backdrop-filter: blur(30px);
}
.dropdown-item{
  text-decoration: none !important;
}


