//colors
$black: rgba(0, 0, 0, 0.7);
$white: #ffffff;
$primary: #0083CD;
$dark-blue:#00659D;

//navbar
$navbar-item-hover-background-color: transparent;
$navbar-dropdown-background-color: rgba(255, 255, 255, 0.1);
$navbar-dropdown-item-hover-color: $primary;
$navbar-dropdown-radius: 0;
$navbar-dropdown-border-top: none;
$navbar-dropdown-arrow: $white;

//button
$button-color: $white;
$button-hover-color: $white;
$button-background-color: $primary;
$button-border-width: 0;
$button-padding-vertical: 8px;
$button-padding-horizontal: 52px;



